{$HOST} {
        basicauth /* {
                {$RPC_USERS}
        }
        reverse_proxy fullnode:8545
}

{$HOST}:9101 {
        basicauth /* {
                {$METRICS_USERS}
        }
        reverse_proxy nodeexporter:9100
}
